<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </nav>
    <h1>Page First</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, corrupti id tenetur eligendi eius quasi inventore dolorem perferendis rem enim, accusantium consequuntur placeat consectetur eaque in consequatur hic ullam eveniet ipsum. Quaerat quam quibusdam laboriosam nihil nobis recusandae nam ipsa laborum voluptatum dolor, exercitationem assumenda possimus quo voluptate libero neque omnis saepe. Magnam velit ipsa molestiae officiis porro tempore, amet quod animi illo debitis harum labore optio sapiente corrupti incidunt, facere non eum iure possimus pariatur quo blanditiis laborum iste! Magni voluptate adipisci ea neque quod minus sed officia, alias ex totam repellat impedit doloribus illo consequuntur, nostrum voluptatibus quisquam.</p>
</body>
</html>