<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </nav>
    <h1>Page Login</h1>
    <form method="post">
        <input type="text" name="username" id="username" placeholder="username">
        <input type="password" name="password" id="password " placeholder="password here">
        <button>Login</button>
    </form>
</body>
</html>